{% extends 'common/base.html' %}
{% block content %}
{% load static %}
<script>
    var student_answers = {{student_answers|safe}};
</script>
<script src="{% static 'js/custom/students/AjaxCsrf.js' %}"></script>
<script src="{% static 'js/custom/students/CheckTest.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/custom/test-view.css' %}">

<div class="row">
    <div class="col-10 offset-1">
        <h3>User: {{student.username}}</h3>
        <h3>Test: {{test.name}}</h3>
        <div id="test_form" test_id={{ test.id }} action="#" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div class="row">
                <div class="col-10 offset-1">
                    <div>
                        <b> {{ forloop.counter }}. {{ question.text }} </b>
                        {% for answer in answers %}
                            {% if answer.question_id == question.id %}
                                <div>
                                    <input type="radio" question_id={{ question.id }} value=  {{ answer.id }}  name={{ question.id}}>
                                    <label for= {{ answer.id }} >   {{ answer.text }} </label>   <div id="correction_div_{{ question.id }}_{{ answer.id }}" class="correction"></div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
             </div>
        {% endfor %}

            <div class="row">
                <div class="col-10 offset-1" align="center">
                    <button class="btn btn-danger" id="submit_test" type="submit"> Submit Test </button>
                     <button class="btn btn-danger" id="retake_test_btn" hidden="true"> Retake Test </button>


                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %}