{% extends 'common/base.html' %}

{% block content %}

{% if user_tests.all %}


<div class="row">
    <div class="col-10 offset-1">
        <h2> Your tests: </h2>
        <ul class="list-group">
        {% for test in user_tests %}

            <li class="list-group-item"><a href={% url 'MCQAssignmentsApp:render_test' test.test_id %}> {{ test.test_id__name }} </a> </li>

        {% endfor %}
        </ul>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-10 offset-1">
        <p>
            There are currently no tests assigned to you :(! ...explore available tests?!
        </p>
    </div>
</div>

{% endif %}

{% endblock %}