{% extends 'common/base.html' %}
{% load static %}

{% block scripts %}

<script src="{% static 'js/custom/students/students-assigned-tests.js' %}"></script>

{% endblock %}

{% block content %}

{% if user_tests.all %}

<div class="row">
    <div class="col-10 offset-1 font-open-sans">
        <h2> Your tests: </h2>
        <ul class="list-group">
        {% for test in user_tests %}

            <li class="list-group-item"> <a href={% url 'MCQAssignmentsApp:render_test' id=test.test.id student_id=request.user.id %}> {{ test.test.name }} </a> | <div class="d-inline bg-{{test.test.tag_color}}" >{{ test.test.tag }} </div>  </li>

        {% endfor %}
        </ul>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-10 offset-1 font-open-sans">
        <p>
            There are currently no tests assigned to you :(! ...explore available tests?!
        </p>
    </div>
</div>
{% endif %}
<br>
<hr>
<div class="row font-open-sans">
    <div class="col-2 offset-1">
        <button id="explore_tests" class="btn btn-primary"> explore more tests </button>
    </div>
</div>
<hr>
<div id="all_tests" class="row hidden font-open-sans">
    <div class="col-10 offset-1">
        <h2> All tests: </h2>
        <ul class="list-group">
        {% for test in all_tests %}

            <li class="list-group-item"> <a href={% url 'MCQAssignmentsApp:render_test'  id=test.id student_id=request.user.id %}> {{ test.name }} </a> | <div class="d-inline bg-{{test.tag_color}}" >{{ test.tag }} </div>  </li>

        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}