.fa-check {

color:green;

}

.fa-times-circle {

color:red;

}

.correct-answer{

color:green;
}


.ghost{

visibility: hidden;
}


label {
   position:relative;
   padding-left:50px;
    display:block;
}

label input[type=radio] {
   position:absolute;
   top:-6px;
   left:0px;
}
