<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
        {% load static %}
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Rakkas&display=swap&subset=arabic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <title>

    {% block title %}BTalaqa {% endblock %}
  </title>
</head>

<body>
    {% load extra_tags %}
    <link rel="stylesheet" href="{% static 'css/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/ostrich-sans/webfonts/ostrich-sans.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/base-custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">

    <script src="{% static 'js/vendors/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <div class="page-header">

        <div class="row">

            <div class="col-8" style ='padding-left:30px'>
               <div class="font-ostrich-sans" style="display:inline; font-size:50px"> <img src={% static 'favicon/favicon.ico' %}>Tala</div><div style="display:inline;font-size:70px" class="font-rakkas">ق</div> <div class="font-ostrich-sans" style="display:inline;font-size:50px">a</div>
                </div>
            <div class="col-4 text-right">
                {{ user.get_username }}
                <a class="btn btn-secondary btn-sm" id="logout" href={% url 'logout' %}> Logout </a>
            </div>
        </div>
            </div>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


           {% if request.user|has_group:"Teachers" %}
                <li class="nav-item active">
                    <a class="nav-link " href={% url 'MCQAssignmentsApp:create_test' %}> <i class="fa fa-file"></i><div class="font-open-sans" style="display:inline" > Create Test</div> <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href={% url 'MCQAssignmentsApp:assign_users_tests' %}> <i class="fa fa-handshake"></i> <div class="font-open-sans" style="display:inline" >Assign Tests </div><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href={% url 'MCQAssignmentsApp:edit_tests' %}><i class="fa fa-edit"></i> <div class="font-open-sans" style="display:inline" > Edit Tests </div> <span class="sr-only"></span></a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'MCQAssignmentsApp:render_teacher_dashboard' %}><i class="fa fa-tachometer-alt"></i> <div class="font-open-sans" style="display:inline" > Dashboard </div><span class="sr-only"></span></a>
                  </li>

        {% else %}
            <li class="nav-item active">
                  <a class="nav-link " href={% url 'MCQAssignmentsApp:students_home' %}> <i class="fa fa-home"></i> <div class="font-open-sans" style="display:inline" > Home </div><span class="sr-only">(current)</span></a>

              </li>
              <li class="nav-item active">
                  <a class="nav-link " href={% url 'MCQAssignmentsApp:students_assignments' %}> <i class="fa fa-file"></i> <div class="font-open-sans" style="display:inline" > My Tests </div><span class="sr-only">(current)</span></a>

              </li>
              <li class="nav-item active">
                  <a class="nav-link " href={% url 'MCQAssignmentsApp:render_student_dashboard' user_id=request.user.id %}> <i class="fa fa-tachometer-alt"></i> <div class="font-open-sans" style="display:inline" >  My Dashboard </div><span class="sr-only">(current)</span></a>

              </li>

              <li class="nav-item active">
                  <a class="nav-link " href={% url 'MCQAssignmentsApp:render_videos' %}> <i class="fa fa-file-video"></i> <div class="font-open-sans" style="display:inline" > My Unlocked Videos </div><span class="sr-only">(current)</span></a>

              </li>

        {% endif %}

              <li class="nav-item active">
            <a class="nav-link " href={% url 'about' %}> <i class="fa fa-info-circle"></i> About<span class="sr-only">(current)</span></a>
          </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    {% include 'common/messages.html' %}

    {% block scripts %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>