<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
        <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa:400,700|Rakkas&display=swap&subset=arabic" rel="stylesheet">

</head>

<body>
    {% load static %}
    {% load extra_tags %}
    <link rel="stylesheet" href="{% static 'css/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/ostrich-sans/webfonts/ostrich-sans.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/base-custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.1/css/all.css">
    <script src="{% static 'js/vendors/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap/bootstrap.min.js' %}"></script>

    <div class="page-header">

        <div class="row">

            <div class="col-8">
                <div class="container">
               <div class="font-ostrich-sans" style="display:inline; font-size:50px"> <img src={% static 'favicon/favicon.ico' %}>Tala</div><div style="display:inline;font-size:70px" class="font-rakkas">ق</div> <div class="font-ostrich-sans" style="display:inline;font-size:50px">a</div>
               </div>
                </div>
        </div>
            </div>


    <div class="row">
        <div class="col-10 offset-1" align="center">
          {% block content %}
            <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-danger" type="submit">Login</button>
            </form>
          {% endblock %}

        </div>
    </div>
</body>
</html>