{% extends 'common/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-10 offset/1">
        <h2>All Tests</h2>

        <ul class="list-group">
            {% for test in tests %}
             <li class="list-group-item" > <a href={% url 'MCQAssignmentsApp:test_overview' pk=test.id %}> {{ test.name }}</a> <div class="d-inline bg-success" >{{ test.get_tag_display }}</div>  </li>
            {% endfor %}
        </ul>
    </div>
</div>

<ul class="list-group">
        {% for test in user_tests %}

            <li class="list-group-item"><a href={% url 'MCQAssignmentsApp:render_test' test.test_id %}> {{ test.test_id__name }} </a> </li>

        {% endfor %}
        </ul>

{% endblock %}