{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/edit-tests.css' %}">

<script src="{% static 'js/custom/teachers/DeleteTest.js' %}"></script>



<div class="row">
    <div class="col-10 offset-1">
        <h2>Students Progress</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Completed assigned tests</th>
                    <th>Completed additional tests</th>
                    <th>Average score on assigned</th>
                    <th>Average score on additional</th>
                    <th>Average score on all</th>
                    <th>Details</th>
                </tr>
            </thead>
                {% for student, student_stat in students_statistics.items %}
                <tr>
                    <td>{{student.username}}</td>
                    <td>{{student_stat.number_of_completed_assigned_tests}}</td>
                    <td>{{student_stat.number_of_completed_additional_tests}}</td>
                    <td>{{student_stat.assigned_tests}}</td>
                    <td>{{student_stat.additional_tests}}</td>
                    <td>{{student_stat.all_tests}}</td>
                    <td><a href={% url 'MCQAssignmentsApp:render_student_dashboard' user_id=student.id %}> Details</a></td>
                </tr>
                {% endfor %}
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-10 offset-1">
        <h2>Tests Overview</h2>

        <ul class="list-group">
            {% for test in tests %}
             <li class="list-group-item" > <a href={% url 'MCQAssignmentsApp:test_overview' pk=test.id %}> {{ test.name }}</a> | <div class="d-inline bg-{{test.tag_color}}" >{{ test.tag }} </div>
                 | <a id="delete-test-link" href="{% url 'MCQAssignmentsApp:delete_test' pk=test.id %}">  <b>X</b> </a>   </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}