{% extends 'teachers/base.html' %}

{% block content %}
<br>
<br>
    {% csrf_token %}

<h3> Test:  {{ test.name }}</h3>
<form action= {% url 'TeachersApp:create_question_answers' test.pk %}  method="post">
    {% csrf_token %}

    {{ question_form }}
    {{ answer_formset.management_form }}

    <br>
        {% for form in answer_formset %}
            {{ form }}
       <br>
        {% endfor %}

    <br>

    <br>
    <button type="submit" id="finalize_test"> Save and Finalize Test </button>
    <button type="submit" id="save_next_question">Save and add next question</button>

</form>

{% endblock %}