{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/vendors/vis.min.css' %}">

<script src="{% static 'js/vendors/vis.min.js' %}"></script>
<script src="{% static 'js/custom/students/AjaxCsrf.js' %}"></script>

<script src="{% static 'js/custom/active-passive.js' %}"></script>

<input id="sentence" type="text" name="sentence-input">
<button id="get-dep-btn"> Visualize </button>

<div class="col-md-12" height="80%" id="dep-network"></div>

{% endblock %}