{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/edit-tests.css' %}">
<link rel="stylesheet" href="{% static 'css/vendors/chartjs/Chart.min.css' %}">

<script src="{% static 'js/vendors/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'js/custom/teachers/DeleteTest.js' %}"></script>
<script src="{% static 'js/custom/teachers/Dashboard.js' %}"></script>



<div class="row">
    <div class="col-md-10 col-sm-12 col-xs-12">
        <h2>Students Progress</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Count of assigned tests</th>
                    <th>Completed assigned tests</th>
                    <th>Completed additional tests</th>
                    <th>Average score on assigned</th>
                    <th>Average score on additional</th>
                    <th>Average score on all</th>
                    <th>Details</th>
                </tr>
            </thead>
                {% for student, student_stat in students_statistics.items %}
                <tr>
                    <td>{{student.username}}</td>
                    <td class="count-assigned-tests">
                    {% if not student_stat.count_assigned_tests %}
                     0
                    {% else %}
                    {{student_stat.count_assigned_tests}}
                    {% endif %}
                    </td>
                    <td class="completed-assigned-tests">
                    {% if not student_stat.number_of_completed_assigned_tests %}
                    0
                    {% else %}
                    {{student_stat.number_of_completed_assigned_tests}}
                    {% endif %}
                    </td>
                    <td>
                    {% if not student_stat.number_of_completed_additional_tests %}
                     0
                    {% else %}
                    {{student_stat.number_of_completed_additional_tests}}
                    {% endif %}
                    </td>
                    <td>
                    {% if not student_stat.assigned_tests %}
                     N/A
                    {% else %}
                    {{student_stat.assigned_tests}}
                    {% endif %}
                    </td>
                    <td>
                    {% if not student_stat.additional_tests %}
                    N/A
                    {% else %}
                    {{student_stat.additional_tests}}
                    {% endif %}
                    </td>
                    <td>
                    {% if not student_stat.all_tests %}
                     N/A
                    {% else %}
                    {{student_stat.all_tests}}
                    {% endif %}
                    </td>

                    <td><a href={% url 'MCQAssignmentsApp:render_student_dashboard' user_id=student.id %}> Details</a></td>
                </tr>
                {% endfor %}
            <tbody>

            </tbody>
        </table>
    </div>
</div>
    <div class="col-md-5 col-sm-12 col-xs-12">
<div class="card">
<div class="card-header">Overall Assigned and Solved Tests</div>
  <div class="card-body">
      <canvas id="barchart-assigned-solved">
    </canvas>
</div>
</div>
{% endblock %}