{% extends 'common/base.html' %}
{% load static %}

{% block scripts %}

<script src="{% static 'js/custom/teachers/AddQuestionsAnswers.js' %}"></script>

{% endblock %}


{% block content %}

<h3> Test:  {{ test.name }}</h3>
<div class="row">
    <div class="col-12">

        <a href={% url 'MCQAssignmentsApp:test_overview' pk=test.id %}> Questions Overview:</a>

        {% for question in questions %}
            {{forloop.counter}}
        {% endfor %}
    </div>
</div>

<hr>

<form class="form-horizontal" method="POST" action="">
{% csrf_token %}

<div class="row form-row spacer">
    <div class="col-8 offset-2">
        {{ question_form }}
    </div>
</div>
<hr>
{{ answer_formset.management_form }}
{% for form in answer_formset %}
<div class="row form-row spacer">
    <div class="col-8 offset-2">
        <div class="input-group">
            {{form}}
            <div class="input-group-append">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<hr>
<div class="row spacer">
    <div class="col-4 offset-2">
        <button type="submit" class="btn btn-block btn-primary">Create question</button>
    </div>
</div>
</form>

{% endblock %}