{% extends 'common/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-10 offset-1">
        <h3> Name:  {{ test.name }}</h3>
        <div class="d-inline bg-success" >{{ test.get_tag_display }}</div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <table class="table font-open-sans">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Question</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            {% for question in questions %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{question.text}}</td>
                    <td><a href={% url 'MCQAssignmentsApp:delete_question' pk=test.id question_pk=question.id %}> delete</a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1" align="center">
        <a class="btn btn-info" href={% url 'MCQAssignmentsApp:create_question_answers' pk=test.id %}> add question</a>
    </div>
</div>

{% endblock %}